attrs>=23.1.0
certifi>=2023.6.15
charset-normalizer>=3.2.0
click>=8.1.3
click-plugins>=1.1.1
cligj>=0.7.0
contourpy>=1.1.0
cycler>=0.11.0
fiona>=1.8.20
fonttools>=4.39.0
geopandas>=0.12.2
idna>=3.4
importlib_metadata>=6.0.0
importlib_resources>=5.4.0
kiwisolver>=1.3.2
matplotlib>=3.5.0
networkx>=2.8
numpy>=1.21.0
osmnx>=1.1.2
packaging>=21.3
pandas>=1.4.0
pillow>=9.0.0
pyparsing>=3.0.0
pyproj>=3.2.0
python-dateutil>=2.8.2
pytz>=2022.1
requests>=2.28.0
shapely>=1.8.0
six>=1.16.0
taxicab_st @ git+https://github.com/ravenvanewijk/taxicab-st.git@5695c3cb5fb5e71d2c1fbb9591df39942e823e06
tzdata>=2022.1
urllib3>=1.26.9
zipp>=3.8.0
