attrs
certifi
charset-normalizer
click
click-plugins
cligj
contourpy
cycler
fiona
fonttools
geopandas
idna
importlib_metadata
importlib_resources
kiwisolver
matplotlib
networkx
numpy
osmnx
packaging
pandas
pillow
pyparsing
pyproj
python-dateutil
pytz
requests
shapely
six
taxicab_st @ git+https://github.com/ravenvanewijk/taxicab-st.git@2925914c096cc6b336200497cbfd362f1166aae2
urllib3
zipp