attrs
certifi
charset-normalizer
click
click-plugins
cligj
contourpy
cycler
fiona
fonttools
geopandas
idna
importlib_metadata
importlib_resources
kiwisolver
matplotlib
networkx
numpy
osmnx
packaging
pandas
pillow
pyparsing
pyproj
python-dateutil
pytz
requests
shapely
six
taxicab_st @ git+https://github.com/ravenvanewijk/taxicab-st.git@838db345e2fee6ec522d0c5945f9f10d6aa86e2b
urllib3
zipp